*.dat
*.npy
weights/*
*__pycache__*
07_Python_Advanced_Topics
results/*
gopro
train
test
*.hdf5
*.png
*.jpeg
*.jpg
prev_weights/
model_mirnet_v1/
model/
*.csv
small_pretrained_model/
restorers/
*.tflite
logs
*.zip
deeplake_ds/
complete_model/
complete_model.tflite
GOPRO_val/
GOPRO/